.page-title farming results

.host-box
  .host-element
    .host-element-name
      hostname
    .host-element-value
      =@last_farmed.hostname
  .host-element
    .host-element-name
      routes
      %br
    .host-element-value
      - @last_farmed.routes.each do |r|
        = r
        %br
  .host-element
    .host-element-name
      firewall policy
      %br
    .host-element-value
      - @last_farmed.firewall_policy.each do |key,val|
        = "#{key}: "
        = val
        %br

.add-link
  %a{:href => "/hosts/add/#{@last_farmed.hostname}"}
    add to inventory
